body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f6f8;
}

h2 {
    color: #7b2cbf;
}

.form input,
.form select {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background: #7b2cbf;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.action-btn {
    margin: 2px;
    padding: 5px 8px;
    font-size: 12px;
}
